@font-face {
    font-family: 'Nunito';
    src: url(../fonts/static/Nunito-Regular.ttf) format(truetype);
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    align-content: center;
    background: rgb(16, 1, 75);
    background-size: contain;
    
}

h1 {
    text-align: center;
    margin:0 auto;
    padding: 10px;
    font-size: 30pt;
    color: #fbf9f9;
}

img {
    width: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
}

.lista {
    color: rgb(235, 12, 50);
    font-size: 30pt;
}

.logo {
    color: rgb(40, 50, 248);
    font-size: 40pt;
}

h2 {
    text-align: center;
    margin:0 auto;
    padding: 5px;
    font-size: 16pt;
    color: #fbf9f9;
    width: 330px;
    margin-top: 20px;
    border-radius: 10px;
    background-position: center;
}

.cadastroForm {
    display: block;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    background:linear-gradient(rgb(4, 4, 99), rgb(12, 1, 57), rgb(4, 4, 99));
    margin-top: 10px;
    box-shadow: 1px -1px 10px 0px rgb(9, 9, 37);
}

label{
    display: block;
    font-size: 12pt;
    color: #fbf9f9;
    padding: 10px;
    text-align: center;
}

input {
    display: block;
    border: none;
    border-radius: 5px;
    padding: 8px 60px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.Cadastro {
    display: block;
    text-align: center;
    margin:0 auto;
    padding: 5px;
    font-size: 12pt;
    color: #f9f7f7;
    background: rgb(179, 16, 43);
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    background-position: center;
}

input.Cadastro:focus {
    background: #3f3d3d;;
}

.Return{
    margin-bottom: 20px;
}
.cadReturn {
    display: block;
    text-align: center;
    margin:0 auto;
    padding: 5px;
    font-size: 12pt;
    color: #f9f7f7;
    background: rgb(179, 16, 43);
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;    
}

.Return:focus {
    background: #3f3d3d;;
}

@media  screen and (max-width: 368px) {
    .header{
        padding: 10px 30px;
        align-items: center;
    }
    
    h1, .lista{
        width: 80vw;
        font-size: 1.7rem;
        text-align: center;
        margin: 0;
        padding: 0px;
    }

    .header img{
        justify-content: center;
        margin: 5px 85px;
    } 

    .cadastroForm {
        width: 80vw;
        justify-content: center;
    }

    .cadastroForm .Cadastro {
        display: block;
        align-items: center;
    }

    .cadastroForm .cadastroNome, .cadastroEmail, .cadastroSenha {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -10px;        
    }

    .cadastroForm .Cadastro button {
        max-width: 100%;


    }
     
    .usuarioCadastro{
        margin-right: 60px;
    }

}