@font-face {
    font-family: 'Nunito';
    src: url(../fonts/static/Nunito-Regular.ttf) format(truetype);
}

body {
    font-family: 'Nunito';
    margin: 0 auto;
    padding: 0;
    border: none;
    align-content: center;
    background: rgb(238, 238, 239);
    background-size: contain;
}

.header{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 60px;
}

h1 {
    font-weight: 600;
    text-align: center;
    margin:0 auto;
    padding: 5px;
    font-size: 40px;
    color: #130275;
}

img {
    width: 50px;
    display: flex;
    padding: 5px;
    margin: 0 auto;
}

.lista {
    color: rgb(235, 12, 50);
    font-size: 40px;
}

.fechaPagina{
    display: block;
    position: absolute;
    text-align: center;
    top: 35px;
    right: 20px;
    padding: 3px 15px;
    font-size: 10pt;
    color: rgb(255, 255, 255);
    background: rgb(179, 16, 43);
    border-radius: 5px;    
}

.carregaFoto{
    display: block;
    justify-content: center;
    margin: 5px 30px;
}

.carregaFoto button{
    background: #3681fb;
    font-family: 'Nunito';
    font-weight: 600;
    color: #000;
    border-radius: 5px;
}

.carregaFoto button:hover{
    background: #a3a802;
}

.usuario {
    display: inline-flex;
    margin: 10px 70px;
    padding: 1px 8px;
    color: #130275;
}

.usuario h2{
    font-size: 20px;
    font-weight: 400;
    margin: 5px 30px;
}

.fotoPerfil{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin: 10px 35px;
    padding: 0;
    box-shadow: 1px -1px 10px 0px  rgb(168, 167, 167);
}

input[type='file']{
    display: none;
}

.infoUsuario{
    margin: 50px -15px 15px; 
}

.infoPerfil, .infoEmail{
    display: block;
    font-size: 16px;
    border: 0;
    margin: 5px 10px;
    width: 230px;
    color: #3681fb;
    outline: none;

}

.dropdown-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background: #130275;
    width: 100vw;
    height: 5vh;
    z-index: 1000;
}

.dropdown-menu ul{
    display: inline-flex;
    margin: 2px 10px;
    padding: 3px 10px;
}

.dropdown-menu ul li{
    list-style: none;
    color: #fbf9f9;
    cursor: pointer;
    text-align: center;   
}

.dropdown{
    display: none;
    box-shadow: 1px -1px 8px 0px rgb(14, 8, 73);
}

.dropdown a{
    background: #3f2bb1;
    display: block;
    text-decoration: none;
    color: #fbf9f9;
    cursor: pointer;
    padding: 5px 7px;
}

.dropdown a:hover{
    background: #231c49;
    padding: 5px 8px;
    margin: 0;
}

.dropdown-menu ul li:hover .dropdown{
    display: block;
    margin-top: 5px;
}

.listaDeCompras a, .gerenciaLista a{
    display: inline-flex;
    box-sizing: border-box;
    margin: 3px 10px;
    padding: 3px 10px;
    color: #fbf9f9;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.titleProduto{
    font-size: 20px;
    font-weight: 600;
}

.Produtos{
    width: 600px;
    max-width: 60vh;
    margin-top: 180px;
    padding: 15px 50px;
    transform: translate(50%, -50%);
    margin-left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #130275;
    box-shadow: 1px -1px 10px 0px rgb(184, 184, 184);
}  

.Produtos .criaProdutos input, label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 3px 80px;
    text-align: center;
    font-weight: 600;
    outline: none;
}

.btnProduto{
    padding: 3px 5px;
    background-color: #c6c3c3;
    border-radius: 3px;
    color: #130275;
    margin-left: 6px;
    font-weight: 600
    ;
}

.Produtos{
    display: none;
}

