@font-face {
    font-family: 'Nunito';
    src: url(../fonts/static/Nunito-Regular.ttf) format(truetype);
}

body {
    font-family: 'Nunito';
    margin: 0 auto;
    padding: 0;
    align-content: center;
    background: rgb(16, 1, 75);
    background-size: contain;
}

h1 {
    text-align: center;
    margin:0 auto;
    padding: 10px;
    font-size: 30pt;
    color: #fbf9f9;
}

img {
    width: 100px;
    display: flex;
    padding: 10px;
    align-items: center;
    margin: 0 auto;

}

.lista {
    color: rgb(235, 12, 50);
    font-size: 30pt;
}

.logo {
    color: rgb(40, 50, 248);
    font-size: 40pt;
}

.form {
    text-align: center;
    padding: 50px;
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px -1px 10px 0px rgb(9, 9, 37);
    width: 300px;
    background:linear-gradient(rgb(4, 4, 99), rgb(12, 1, 57), rgb(4, 4, 99));
}
.form .userFrom input {
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 12pt;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 20px 40px;
    cursor: pointer;
    outline: none;
    border: none;
}

.usuarioNome {
    background-image: url(./image/iconUser.ico);
    background-repeat: no-repeat;
    background-position:20px;
    background-size: 15px;
}

.usuarioSenha {
    background-image: url(./image/icon-pwd.ico);
    background-repeat: no-repeat;
    background-position:20px;
    background-size: 15px;
}


.acessar {
    background: rgb(179, 16, 43);
    color: #fbf9f9;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12pt;
    border-radius: 5px;
    padding: 8px 89px;
    margin: 20px 40px;
    cursor: pointer;
    outline: none;
    border: none;
}

.acessar:focus {
    background: #3f3d3d;
}

.userCadastro {
    text-align: center;
    padding: 5px 10px;
    display: flex;
    margin: 0 auto;
    width: 150px;
    margin-left: 50%;
}

.recuperaSenha{
    transform: none;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.recuperaSenha:hover{
    text-decoration: underline;
}

label.Cadastro {
    margin-top: 10px;
    color: #fbf9f9;
    margin-right:30px;
}
input.usuarioCadastro {
    width: 100px;
    display: block;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(28, 72, 215);
    color: #fbf9f9;
    border: none;

}

input.usuarioCadastro:focus {
    background: #3f3d3d;
}


@media  screen and (max-width: 368px) {
    .header{
        padding: 10px 30px;
        align-items: center;
    }
    
    h1, .lista{
        width: 80vw;
        font-size: 1.7rem;
        text-align: center;
        margin: 0;
        padding: 0px;
    }

    .header img{
        justify-content: center;
        margin: 5px 85px;
    } 

    .form {
        width: 60vw;
        justify-content: center;
    }

    .form .userFrom{
        display: block;
        align-items: center;
    }

    .form .userFrom input {
        max-width: 100%;
        width: 234.4px;
    }

    .form .userFrom button {
        max-width: 100%;
        width: 235.8px;

    }
     
    .usuarioCadastro{
        margin-right: 60px;
    }

}